<h1>Favorite Traveling Photos</h1>
<ul>
  <li><img src='/images/snowytown.jpg' alt='A photo of a snowy town.'/></li>
  <br>
  <li><img src='/images/handfireworks.jpg' alt='A photo of a hand and fireworks.'/></li>
</ul>
